.tabsNavWrap {
    padding: 0 24px;
    background-color: var(--grey);
}

.tabsNav {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 800px) {
    .tabsNav {
        justify-content: flex-start;
    }
}
