.switchButton {
    height: 40px;
    border: 1px solid var(--yellow);
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: var(--yellow);
    background-color: transparent;
    transition: all .2s;
    cursor: pointer;
}

.light {
    color: var(--lightThemeMainColor);
    border: 1px solid var(--lightThemeMainColor);
}

.dark {
    color: var(--darkThemeMainColor);
    border: 1px solid var(--darkThemeMainColor);
}
