.header {
    height: 60px;
    display: flex;
    align-items: center;
    background: var(--black);
    color: var(--white);
}

.headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
}
